## We are coding together!

Arithmetic Operations with Python

In [3]:
# Let's sum 3,7,8,9

3+7+8+9

27

In [4]:
# Let's multiply 3 and 7 and add 5
3*7+5

26

In [5]:
# Divide 50 to 3 and find the type of the output
#Type
type(50/3)

float

## Data Types

Text Type:	str

Numeric Types:	int, float

Sequence Types:	list, tuple

Mapping Type:	dict

Boolean Type:	bool

In [87]:
x = 3

y = "Data types in Python are Numeric(float, int), Boolean, Set, Dictionary,Sequence(list [],tuple ())"

In [88]:
type(x)

int

In [89]:
type(y)

str

In [15]:
# Let's find the data types of these  3.14 ,  -39,  miuul,  True
#type(100)

In [90]:
type(3.14)

float

In [91]:
type(-39)

int

In [93]:
type(miuul)  #invalid variable

#we get error since we do not define miuul

NameError: ignored

In [94]:
type(True)

bool

## Creating Variables

In [9]:
#Let's create name variable and the type of it should be string
name = "Sally"

In [10]:
type(name)

str

In [11]:
#Assign 2023 to a year variable but it should be string

In [12]:
year = 2023
type(year)

int

In [13]:
#Ooops! We need to (" ") to make integer to string

In [14]:
year = "2023"
type(year) #this time it is all correct!

str

In [20]:
# Assign t variable to True and control the type of it

In [24]:
t = True
type(t)

bool

In [27]:
True + False

1

In [28]:
3 + 5 #int plus int is int

8

In [31]:
3.5 + 4.5  #float plus float is float

8.0

In [32]:
5 + 2.5  #integer plus integer is integer

7.5

In [26]:
# The data type of boolen (True and False) is case sensitive and it is not true or TRUE

In [33]:
# We can write any variables in the same line, consequently

In [36]:
p, q, r = "Life", "is", "good!"
print(p,q,r)

Life is good!

In [39]:
p = 7
q = "cats"
print(p,q)

7 cats

In [67]:
x = "awesome!"
print("Python is " + x)

Python is awesome!

In [62]:
p = "great!"  #string

def myfunc():
  print("Python is " + p)

myfunc()

Python is great!

In [40]:
#Command Z is undo

In [41]:
#if a = 1989 then what is a-5
a = 1989
a-5

1984

In [43]:
#give me name of two person who you love and assing them as a two person

In [44]:
x = "Mom"
y = "Dad"

In [45]:
#make second variable upper

In [46]:
y.upper()

'DAD'

In [47]:
y #But why it is still not upper? It is not written in the memory so we should assign y again

'Dad'

In [53]:
y = y.upper()
y

'DAD'

## Functions

In [70]:

#brackets () means functions in python. Sometimes brackets take parameters sometimes can't take parameters and
# give error

a = "book"
print(a)

#if there is () in function we need input in it.

book

In [71]:
a.upper()  #after dot(.) you can press tab to see which fuctions can be use for this varible

'BOOK'

In [72]:
len(a)

4

In [73]:
print ("I love Python!")

I love Python!

In [74]:
print ("My favourite number is : " ,3) #you can make bigger expressions in print function with comma(,)

My favourite number is :  3

In [50]:
#Read Data

a = input()    # let's take value from user eg. in taking passwords in your code
#you will use input() function
#default data type of input is string


print ("taken value : ", a)

You are the champion!
taken value :  You are the champion!

In [51]:
a = input()
b = input()

a+b

3
2

'32'

In [52]:
a = int(input()) #int fuction convert the data type to integer
b = int(input())

a+b

3
2

5

In [75]:
#we can write functions nested

type(input())

#changing the variables in the same type means convert, type transformation, parse

You are the king!

str

In [68]:
#Let's take name and surname as an input and return "Welcome name and surname"

In [69]:
x = input("Your name & Surname : " )
print(x + " Welcome!")

Your name & Surname : Sally B
Sally B Welcome!

In [57]:
x = input("Your name & Surname : " )
print(x, "Welcome!")

Your name & Surname : Sally B
Sally B Welcome!

In [63]:
x = input("your name: ")
y = input("your surname: ")
z = input("your age: ")
print("Dear",x,y, "your new age:",z,"Happy Birthday!")

your name: Sally
your surname: B
your age:34
Dear Sally B your new age: 34 Happy Birthday!

## String Operations

In [76]:
# Methods vs Fuctions

#A function is a set of instructions or procedures to perform a specific task,
#and a method is a set of instructions that are associated with an object.

info = "A method is a set of instructions that are associated with an object"
type(info)

str

In [77]:
info.count("s")

6

In [78]:
info.upper()

'A METHOD IS A SET OF INSTRUCTIONS THAT ARE ASSOCIATED WITH AN OBJECT'

In [79]:
info.lower()

'a method is a set of instructions that are associated with an object'

In [86]:
info.title()

'A Method Is A Set Of Instructions That Are Associated With An Object'

In [85]:
info.find("i")  #lets find the position of "i"

9

In [80]:
info.replace(" ", "=")

'A=method=is=a=set=of=instructions=that=are=associated=with=an=object'

In [82]:
info.endswith("s")

False

In [83]:
info.count("w")

1

In [84]:
info.split("a")

['A method is ',
 ' set of instructions th',
 't ',
 're ',
 'ssoci',
 'ted with ',
 'n object']

In [81]:
info.lower().replace(" ", "|").split("|")

['a',
 'method',
 'is',
 'a',
 'set',
 'of',
 'instructions',
 'that',
 'are',
 'associated',
 'with',
 'an',
 'object']

Notes:



*   You can run the cell with shift + enter
*   If the In(input) cell is blank, it means it is not working, and if In cell is *, it means that cell still working.
*   """Add blank"""  #shift + ("") for 3 times to add block comment and as a second way also you can pres control + /
*   If you want to add cell after, you can click option + return or when you are beginning of the code cell you can press "b".
*   If you want to add cell before, when you are beginning of the code cell you can press "a"